a {
    color: var(--branco);
    text-decoration: none;
}

body {
    background-image: url(../imgs/banner-login.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background-color: var(--azul-escuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    height: 10vh;
}

.navegacao {
    display: flex;
    align-items: center;

    gap: 50px;
}

.navegacao a {
    text-transform: uppercase;

    font-size: 1em;
    font-weight: 500;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.login {
    background-color: #E9F0EF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;

    width: 725px;
    height: 750px;

    border-radius: 30px;
}

.inputs {
    margin-top: 50px;
}

.inputs input {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    width: 500px;
    height: 50px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    outline: none;

    background-color: var(--branco);

}

.inputs input::placeholder{
    color: 00000050;
    font-style: italic;
}

.campo-senha {
    position: relative;
}

.botao-olho{
    position: absolute;

    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    border: none;
    background: transparent;
    cursor: pointer;
    color: 00000050;
}

.botoes {
    display: flex;
    flex-direction: column;

    row-gap: 20px;


}

.entrar,
.google {
    border-radius: 10px;
    height: 60px;

    display: flex;

    align-items: center;
    justify-content: center;
    transition: transform 0.5s
}

.entrar {
    background-color: #26333D;
    text-transform: uppercase;
    margin-top: 50px;
    transition: transform 0.5s;
}

.entrar:hover {
    background-color: #364755;
    transform: translateY(-3px);
}

.entrar:active {
    background-color: #1A242B;
    transform: translateY(3px);
}

.google {
    background-color: #ffffff;
    color: #26333D;

    display: flex;
    gap: 10px;
}

.google:hover {
    transform: translateY(-3px);
}

.google:active {
    transform: translateY(3px);
}

.google img {
    width: -50%;
}